* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("img/background_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

main {
  background-color: rgba(218, 229, 224, 0.8);
  margin: 20vh auto;
  width: 500px;
  text-align: center;
  box-shadow: 2px 2px 2px #686868;
  padding-bottom: 10px;
  font-family: 'Lora', serif;
}

header {
  background-color: #3a2826;
  color: #f9f9f9;
  padding: 5px;
  font-family: 'Istok Web', sans-serif;
}

#quote {
  margin: 20px auto;
  background: transparent;
  width: 400px;
  min-height: 150px;
  height: 100%;
}

#quote p {
  margin: 5px 0;
  padding: 10px;
}

#author {
  font-style: oblique;
}

button {
  display: block;
  margin: 10px auto;
  border: none;
  padding: 5px 20px;
  background: #3f3f3f;
  color: #f9f9f9;
  font-variant: small-caps;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1, 1.1);
}

@media screen and (max-width: 500px) {
  main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  #quote {
    width: 100%;
    padding: 10px;
  }
}